/*--------------------------------------------------------------------
 * Grid
 *------------------------------------------------------------------*/

.wrapper {
	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
	margin: $unit-lg;
  -webkit-transform: translateZ(0px);
  -webkit-transform: translate3d(0,0,0);
  -webkit-perspective: 1000;
	// @media only screen and (min-width: $bp-sm) { 
	// 	margin: $unit-lg;
	// }
	@media only screen and (min-width: 1137px) { 
  	margin: $unit-xlg;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  border-top: 1px solid $cloud;
  border-left: 1px solid $cloud;
  @media only screen and (min-width: $bp-sm) { 
  	grid-template-rows: 1fr repeat(4, 80px);
  	grid-template-columns: 150px repeat(3, 1fr);
  	justify-items: stretch;
  }
}

.grid-item {
  text-align: center;
  border-bottom: 1px solid $cloud;
  border-right: 1px solid $cloud;
}

.grid-row {
	display: flex;
	padding-top: $unit-sm;
	padding-bottom: $unit-sm;
	@media only screen and (min-width: $bp-sm) { 
		padding-top: 0;
		padding-bottom: 0;
	}
}
.grid-label {
  	@media only screen and (max-width: $bp-sm) { 
  		grid-column-start: 1;
  		grid-column-end: span col6-start;
  		background-color: $cloud;
  		padding-top: $unit-xsm;
		padding-bottom: $unit-xsm;
  	}
}

