/*--------------------------------------------------------------------
 * Grid
 *------------------------------------------------------------------*/

.grid-container {
  
  grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 80px 80px 80px 80px 80px 80px;
  margin-left: $unit-xlg*2;
  margin-right: $unit-xlg*2;
  margin-top: $unit-xlg*2;
  justify-items: stretch;
  border: 1px solid $fog;

  @media only screen and (min-width: 950px) { 
  	display: grid;
  }
}

.grid-item {
  text-align: center;
  // align-self: center;
  // border-right: 1px solid $fog;
  // border-top: 1px solid $fog;
  border: 1px solid $fog;
}