/*--------------------------------------------------------------------
 * Grid
 *------------------------------------------------------------------*/

.wrapper {
	margin: $unit-xlg;
	@media only screen and (min-width: 950px) { 
  	margin: $unit-xlg*2;
  }
}
.grid-container {
  grid-template-columns: 200px repeat(6, 1fr [col-start]);
  grid-template-rows: 250px repeat(5, 80px [col-start]);
  justify-items: stretch;
  border-top: 1px solid $cloud;
  border-left: 1px solid $cloud;

  @media only screen and (min-width: 900px) { 
  	display: grid;
  }
}

.grid-item {
  text-align: center;
  border-bottom: 1px solid $cloud;
  border-right: 1px solid $cloud;
}

.grid-row {
	display: flex;
}

