/*--------------------------------------------------------------------
 * Settings
 *------------------------------------------------------------------*/

//--------------------------------------------------------------------
// Spacing
//--------------------------------------------------------------------

$unit-xsm:  8px;
$unit-sm:   16px;
$unit-md:   24px;
$unit-lg:   32px;
$unit-xlg:  40px;

//--------------------------------------------------------------------
// Type
//--------------------------------------------------------------------

$type-brandon:  "Brandon Grotesque", "Verdana", "Geneva", sans-serif;
$type-bold:   	600;
$type-reg:    	300;

// @font-face { 
//   font-family: 'Brandon';
//   src: url('/Users/dwong/Library/Fonts/Brandon_bld.otf') format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }

//--------------------------------------------------------------------
// Type Size
//--------------------------------------------------------------------

$type-size-sm:   13px;
$type-size-md:   17px;
$type-size-lg:   23px;
$type-size-xlg:  30px;

//--------------------------------------------------------------------
// Color
//--------------------------------------------------------------------

$slate:     #243137;
$coal:      #32454D;
$concrete:  #61777F;
$cyan:      #39AAC8;
$cyan-dark: #28768B;
$ruby:      #F26D6D;
$cloud:     #DBDEDF;
$fog:       #B6BCBE;
$white:		#FFFFFF;

//--------------------------------------------------------------------
// Breakpoint
//--------------------------------------------------------------------
$bp-sm:		600px;
$bp-md:		1010px;

//--------------------------------------------------------------------
// Z Index
//--------------------------------------------------------------------

$z-1:		1;
$z-2:		2;