/*--------------------------------------------------------------------
 * Shared
 *------------------------------------------------------------------*/

.check-icon {
  max-width: 20px;
  vertical-align: middle;
  align-self: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.fade {
	width:100px;
	height:100vh;    
	position:absolute;
	right:0;
	pointer-events: none;
	z-index:$z-1;
	background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

@media only screen and (min-width: $bp-sm) { 
	.fade{
		display: none;
	}
}