/*--------------------------------------------------------------------
 * Shared
 *------------------------------------------------------------------*/

.check-icon {
  max-width: 20px;
  vertical-align: middle;
  align-self: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}